<section class="flex flex-col items-center gap-6">
    <h1 class="text-4xl uppercase tracking-widest-plus font-light">Destaques da semana</h1>
    <div class="highlight-pic relative flex self-stretch flex-grow min-h-96
    after:" (mouseleave)="onImageLeave()">
        @for (pic of _pictures; track $index) {
            <div #pictures class="pic relative flex flex-col-reverse p-6 pr-0 overflow-hidden transition-all 
            duration-500 cursor-pointer" 
            [ngClass]="{
                'pic--tight': $index === 1 || $index === 3,
                'pic--wide': $index === 2
                }" (mouseenter)="onImageEnter($event)">
                <img [src]="pic?.img" [alt]="pic?.art" 
                class="pic__image absolute w-full left-0 top-0 object-cover">
                <div class="relative z-10 flex flex-col gap-0 text-white font-light text-xl leading-none over
                text-nowrap">
                    <span class="font-medium text-2xl overflow-ellipsis overflow-hidden">{{pic?.art}}</span>
                    <span class="overflow-ellipsis overflow-hidden">{{pic?.artist}}</span>
                </div>
            </div>
        }
    </div>
</section>