.highlight-pic {
    &::after {
        position: absolute;
        height: 100%;
        width: 100%;
        content: '';
        pointer-events: none;
        background: linear-gradient(to top, hsla(0, 0%, 0%, 0.5), transparent 30%);
    }
}

.pic {
    flex-basis: 25%;
    
    &--tight {
        flex-basis: 23%;
    }

    &--wide {
        flex-basis: 45%;
    }

    &__image {
        height: 140%;
    }
}