<article class="text-white flex flex-col lg:flex-row gap-6 items-center">
    <div class="text-xl xl:text-2xl font-light">
        <h2 class="bg-primary px-6 mb-8 text-lg font-semibold inline-block">Um pouco de história...</h2>
        <h1 class="font-medium text-3xl mb-4">Você sabe o que é um <b>NFT?</b></h1>
        <p class="indent-6 text-justify">É uma sigla “non-fungible token”, traduzido para o português: token não-fungível. Em outras palavras um token no
            universo das criptomoedas é a representação de um ativo — como dinheiro, propriedade ou obra de arte registrada
            em uma blockchain. Essa forma de negócio é recente, conquistou olhares no ano de 2014, através da obra de arte
            de Kevin McCoy, Quantum. De lá pra cá os NFT's se tornaram verdadeiras tendências de colecionáveis no mercado de
            cripto! E é por essa razão que apresentaremos alguns artistas nesse modelo de arte digital!
        </p>
    </div>
    <div class="img-container lg:w-[25vw] flex-shrink-0 lg:max-h-[514px] lg:max-w-[514px]">
        
        <img src="/images/primeira-nft.png" alt="Imagem da primeira NFT"
        class="">
    </div>
</article>