@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Calibri';
    src: url('/public/fonts/calibri-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('/public/fonts/calibri-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('/public/fonts/calibri-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Calibri';
    src: url('/public/fonts/calibri-bold-italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

//
//

* {
    font-family: 'Calibri', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@layer utilities {
    .container-custom {
      width: min(1200px, 100% - 80px);
    }
}