@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./app/styles/uicons.scss);

@font-face {
    font-family: 'Calibri';
    src: url('/public/fonts/calibri-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('/public/fonts/calibri-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('/public/fonts/calibri-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Calibri';
    src: url('/public/fonts/calibri-bold-italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

//
//

* {
    font-family: 'Calibri', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@layer utilities {
    .container-custom {
        width: min(1200px, 100% - 80px);
        margin: 0 auto;
    }
}

@layer custom {
    :root {
        --color-primary: 335, 83%, 56%;
        --color-primary-100: 335, 83%, 95%;
        --color-primary-200: 335, 83%, 85%;
        --color-primary-300: 335, 83%, 75%;
        --color-primary-400: 335, 83%, 65%;
        --color-primary-500: 335, 83%, 56%;
        --color-primary-600: 335, 83%, 46%;
        --color-primary-700: 335, 83%, 36%;
        --color-primary-800: 335, 83%, 26%;
        --color-primary-900: 335, 83%, 16%;
        
        --color-secondary: 248, 33%, 19%;
        --color-secondary-100: 248, 33%, 90%;
        --color-secondary-200: 248, 33%, 80%;
        --color-secondary-300: 248, 33%, 70%;
        --color-secondary-400: 248, 33%, 60%;
        --color-secondary-500: 248, 33%, 50%;
        --color-secondary-600: 248, 33%, 40%;
        --color-secondary-700: 248, 33%, 30%;
        --color-secondary-800: 248, 33%, 25%;
        --color-secondary-900: 248, 33%, 19%;
    }
}